
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 900;
}

button:disabled {
    background-color: #ccc;
}

p {
    font-size: 18px;
    color: #333;
}